body {
	font-family: 'Lato' !important, Arial, sans-serif;
	font-weight: 400 !important;
	color: gray !important;
}

.navbar {
	background-color: rgba(255,255,255,0.5);
}

.header {
	height: 100vh;
}

.header-row{
	height: 100vh;
}

.header-contents {
	padding-top: 35%;
}

.header-main {

}

/*How to increase name size while keeping it responsive?*/
.name {
	text-transform: uppercase;
	letter-spacing: .5em;
}

.first-name {
	font-weight: 300;
	color: gray;
}

.last-name {
	font-weight: 700;
	color: #f1c40f;
}

.subtitle {
	font-weight: 100;
}

.header-details {
	font-size: 1em;
	padding-top: 30%;
}


.personal-information-title {
	font-weight: bold;
}

.personal-information-content {
}

.resume-section {

}

.resume-section-header {
	font-size: 1em;
	font-weight: bold;
	color: gray;
}

.resume-section-header-light {
	background-color: #FBFBFB;
}

@media(max-width: 767px) {
	.name {
		text-align: center;
	}
	.subtitle {
		text-align: center;
	}
	.header-details {
		text-align: center;
		/*Make the distance between details larger*/
	}

	.resume-section-header-light {
		background-color: white;
	}
}

.resume-section-content-wrapper {
	padding-right: 3rem;
	padding-left: 3rem;
}

.resume-section-header-title {
	text-transform: uppercase;
	text-align: right;
	padding: 3rem;
}

.resume-section-header-dark {
	background-color: #F8F8F8;
}
.resume-section-content-dark {
	background-color: #FCFCFC;
	padding:3rem;
}

.percentage {
	color: #FFC107;
}

.skill-name {
	text-transform: uppercase;
}

.school-name {
	text-transform: uppercase;
	font-weight: bold;
}

.education-detail {
	font-weight: 300;
	font-size: .9em;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.table {
	font-size: .8em;
}

.timeline-event {
	border-left-style: solid;
	border-left-width: 0.1rem;
	border-left-color: #DADADA;
}

.timeline-date-container {
	display: flex;
	align-items: center;
}

.timeline-date {
	font-size: .9em;
	font-weight: 300;
}

.circle {
  height: 2px;
  width: 2px;
  background-color: #555;
  border-radius: 50%;
}













