$enable-rounded: false;
$primary: #3ab5be;
//#da4646 red
@import "./bootstrap-scss/bootstrap.scss";

@mixin center-absolute() {
    left: 0;
    right: 0;
    margin: 0 auto;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #666666;
}

canvas {
    display: block;
  }

  
#particles-js {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    .header-text {
        position: absolute;
        @include center-absolute();
    }
    #name {
        font-weight: 100;
        letter-spacing: 1rem;
        font-size: 5rem;
        top: 40%;
    }
    
    #subtitle {
        font-style: italic;
        font-weight: 300;
        top: 51%;
    }
    
    #download-resume-btn {
        position: absolute;
        width: 10rem;
        top: 55%;
        @include center-absolute();
    }
    
    @keyframes bounce {
        from, 80%, to {
            transform: translateY(0);
        }
        90% {
            transform: translateY(5px); 
        }
        85%, 95% {
            transform: translateY(10px); 
        }
    }
    
    #scroll {
        position: absolute;
        top: 95%;
        @include center-absolute();
        animation: 3s ease-in-out infinite bounce;
    }
}

.thin {
    font-weight: 100;
}



