body {
	font-family: 'Lato' !important, Arial, sans-serif;
	font-weight: 400 !important;
}

.navbar {
	background-color: rgba(255,255,255,0.5);
}

.header {
	height: 100vh;
}

.header-row{
	height: 100vh;
}

.header-contents {
	padding-top: 35%;
}

.header-main {

}

.name {
	text-transform: uppercase;
	letter-spacing: .5em;
}

.first-name {
	font-weight: 300;
	color: gray;
	font-size: 150%;
}

.last-name {
	font-weight: 700;
	color: #f1c40f;
	font-size:150%;
}

.subtitle {

}

.header-details {
	font-size: 1em;
	padding-top: 30%;
}


.personal-information-title {
	font-weight: bold;
}

.personal-information-content {
}

.resume-section {

}

.resume-section-header {
	font-size: 1em;
	font-weight: bold;
	color: gray;
}

.col-md-4 {
	background-color: #FBFBFB;
}

.resume-section-header-dark {
	background-color: #F8F8F8;
}
.resume-section-content-dark {
	background-color: #FCFCFC;
}
