$enable-rounded: false;
$primary: #3ab5be;
// $primary: #da4646;
@import "./bootstrap-scss/bootstrap.scss";
$sm: 300px;
$med: 650px;


@mixin center-absolute() {
    left: 0;
    right: 0;
    margin: 0 auto;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #666666;
    // scroll-snap-type: y proximity;
    // overflow-y: scroll;
}

canvas {
    display: block;
}
  
#particles-js {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    

    .header-text {
        text-align: center;
    }
    @media(min-width: $sm) {
        #header {
            position: absolute;
            @include center-absolute();
            top: 30%;
        }
        #name {
            font-weight: 100;
            letter-spacing: 1rem;
            font-size: 3rem;
            margin: 0;
        }
        #subtitle {
            font-style: italic;
            font-weight: 300;
            margin-bottom: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }

    }
    @media(min-width: $med) {
        #header {
            position: absolute;
            @include center-absolute();
            top: 40%;
        }
        #name {
            font-weight: 100;
            letter-spacing: 1rem;
            font-size: 5rem;
            margin: 0;
        }
        #subtitle {
            font-style: italic;
            font-weight: 300;
            margin-bottom: 1rem;
        }
    }

    
    
    #download-resume-btn {
        position: absolute;
        width: 10rem;
        @include center-absolute();
    }
    
    @keyframes bounce {
        from, 80%, to {
            transform: translateY(0);
        }
        90% {
            transform: translateY(5px); 
        }
        85%, 95% {
            transform: translateY(10px); 
        }
    }
    
    #scroll {
        position: absolute;
        top: 95%;
        @include center-absolute();
        animation: 3s ease-in-out infinite bounce;
    }
}

.section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    // scroll-snap-align: start;
}

.section-full {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    height: 100vh;
    // scroll-snap-align: start;
}

.section-title {
    font-weight: 100;
}

#intro {
    background-color: $primary;
}
